.btn-outline-success {
  color: black;
  border-color: black;

}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: #e704bd;
  border-color: var(--bs-btn-hover-border-color);
}

footer {
  background-color: #dbdbdb;
  color: black;


}

.first-line {
  border-bottom: 1px solid #d2c9c1;
}

.second-line a {
  color: black;
  text-decoration: none;

}

.second-line a:hover {
  color: #e704bd;

}

.third-line {
  display: none;

}

@media screen and (max-width:48rem) {
  .first-line {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid #d2c9c1;

  }

}

@media screen and (max-width:48rem) {
  .third-line {

    display: block;
  }


}

.japansite {
  text-decoration: none;
  color: black;
}

.japansite:hover {
  color: #e704bd;
}

.nav-link.active {
  color: #e704bd;
}

.accordion-body {

  font-size: .875em;
  color: black;
  word-wrap: break-word;


}
.footer-secondbox{
  display: flex;
  justify-content: space-between;

}

.first-box{
  display: flex;
  justify-content: space-between;
}
.first-box-right{
  align-content: center;
}
.phone_area{
  display: flex;

}
.left-second-box{
  margin-right: 30px;
  
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.first-box-left {
  flex: 1 1 auto;
  margin: 10px;
  
}

.first-box-right {
  flex: 1 1 auto;
  margin: 10px;
  margin-right: auto; 
}



.first-line, .second-line {
  padding-top: 20px;
  padding-bottom: 20px;
}

.second-line {
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: 5px;
}

@media (max-width: 768px) {
  .first-box-left, .first-box-right {
      flex: 1 1 100%; /* 화면 크기가 768px 이하일 때는 100% 너비로 설정 */
      margin: 10px 0;
  }
  .cus-center{
    padding-top: 20px;
  padding-bottom: 20px;
  

  }
}

/* 추가 스타일 */
body {
  font-family: Arial, sans-serif;
}

h3 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: black;
}

